<div th:fragment="calculationsPage">
    <nav th:replace="fragments/navigationFragment.html :: qrental-navigation"></nav>
    <ul th:replace="fragments/transactionTabFragment :: transactionTabs('balanceCalculations')"></ul>
    <h2 class="py-3">Balance Calculations</h2>
    <div th:replace="fragments/latestBalanceWeekFragment :: latestBalanceWeek"></div>
    <table class="table table-striped table-bordered">
        <tr>
            <th style="width: 1% !important;">
                <a class="btn btn-sm btn-success"
                   href="/balances/calculations/add-form"
                   role="button"
                   aria-controls="offcanvasExample">
                    <span class="bi bi-calculator"></span>
                </a>
            </th>
            <th>Action Date</th>
            <th>Balances Count</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Comment</th>
        </tr>
        <tr th:if="${#lists.isEmpty(calculations)}">
            <td colspan="5">No Balance Calculations were done yet</td>
        </tr>
        <tr th:each="calculation : ${calculations}">
            <td><a class="btn btn-sm btn-warning"
                   th:href="@{/balances/calculations/{id}(id=${calculation.id})}">
                <span class="bi bi-card-checklist"></span></a></td>
            <td th:text="${qDateFormatter.format(calculation.actionDate)}">???</td>

            <td th:text="${#lists.size(calculation.balances)}"/>
            <td th:text="${qDateFormatter.format(calculation.startDate)}">???</td>
            <td th:text="${qDateFormatter.format(calculation.endDate)}">???</td>
            <td th:text="${calculation.comment}">???</td>
        </tr>
    </table>
</div>