<div th:fragment="assembledForm">
    <div th:replace="fragments/commonFormFragment.html :: commonForm(
            title='Update a  Call Sign Link',
            closeRef='/call-sign-links',
            content=~{fragments/callSignLinkUpdateFormFragment.html :: updateForm}
        )">
    </div>
</div>

<form th:fragment="updateForm"
      th:action="@{/call-sign-links/update}"
      th:object="${updateRequest}"
      method="post">
    <div th:if="${updateRequest.hasViolations}"
         class="mt-3 mb-3">
        <ul class="list-group">
            <li class="list-group-item list-group-item-danger fs-6"
                th:each="violation : ${updateRequest.violations}"
                th:text="${violation}">???
            </li>
        </ul>
    </div>
    <input id="callSignLinkId" required
           th:field="*{id}"
           type="text"
           hidden/>


    <div class="mb-3">
        <label class="form-label text-muted" for="driverId">Driver</label>
        <select id="driverId" class="form-select"
                th:field="*{driverId}">
            <option th:each="driver : ${drivers}"
                    th:value="${driver.id}"
                    th:text="|${driver.firstName} ${driver.lastName} - ${driver.isikukood}|"></option>
        </select>
    </div>
    <div class="col">
        <div class="mb-3">
            <label class="form-label text-muted" for="callSignId">Call Sign</label>
            <select id="callSignId" class="form-select"
                    th:field="*{callSignId}">
                <option th:each="callSign : ${callSigns}"
                        th:value="${callSign.id}"
                        th:text="${callSign.callSign}"></option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="mb-3">
                <label class="form-label text-muted" for="dateStartId">Start Date</label>
                <input class="form-control" id="dateStartId" placeholder="Enter Start Date" required
                       th:field="*{dateStart}"
                       type="date"/>
            </div>
        </div>
        <div class="col">
            <div class="mb-3">
                <label class="form-label text-muted" for="dateEndId">End Date</label>
                <input class="form-control" id="dateEndId" placeholder="Enter End Date"
                       th:field="*{dateEnd}"
                       type="date"/>
            </div>
        </div>
    </div>
    <div class="mb-3">
        <label class="form-label text-muted" for="commentId">Comment</label>
        <textarea class="form-control"
                  id="commentId"
                  placeholder="Enter Comment"
                  th:field="*{comment}"/>
    </div>

    <div th:replace="fragments/addUpdateFormButtonsFragment.html :: addUpdateButtons(
            submitValue='Update',
            cancelHref='/call-sign-links'
        )">
    </div>
</form>
