<div th:fragment="assembledForm">
    <div th:replace="fragments/commonFormFragment.html :: commonForm(
            title='Delete a Call Sign Link',
            closeRef='/call-sign-links',
            content=~{fragments/callSignLinkDeleteFormFragment.html :: deleteForm}
        )">
    </div>
</div>

<form th:fragment="deleteForm"
      th:action="@{/call-sign-links/delete}"
      th:object="${deleteRequest}"
      method="post">
    <input id="callSignLinkId" required
           th:field="*{id}"
           type="text"
           hidden/>
    <div class="mb-3">
        <p class="fs-4 ">Please confirm that you want to delete next data:</p>
        <p class="fs-6 text-center"
           th:text=${objectInfo}>???</p>
    </div>
    <div th:replace="fragments/deleteFormButtonsFragment.html :: deleteButtons(
            submitValue='Delete',
            cancelHref='/call-sign-links'
        )">
    </div>
</form>