<div th:fragment="callSignLinkPage">
    <nav th:replace="fragments/navigationFragment.html :: qrental-navigation"></nav>
    <ul th:replace="fragments/callsignTabFragment.html :: callsignTabs('callSignLinks')"></ul>
    <h2 class="py-3">Call Sign Links</h2>

    <table class="table table-striped table-bordered">
        <tr>
            <th>
                <a class="btn btn-sm btn-success"
                   href="/call-sign-links/add-form"
                   role="button"
                   aria-controls="offcanvasExample">
                    <span class="bi-plus-circle"></span>
                    Add new Call Sign Link
                </a>
            </th>
            <th>Driver</th>
            <th>Call Sign</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Comment</th>
        </tr>
        <tr th:if="${#lists.isEmpty(callSignLinks)}">
            <td colspan="5">No Call Sign Links</td>
        </tr>
        <tr th:each="callSignLink : ${callSignLinks}">
            <td>
                <a class="btn btn-sm btn-warning "
                   th:href="@{/call-sign-links/update-form/{id}(id=${callSignLink.id})}">
                    <span class="bi-pencil-square"></span>
                    Edit</a>
                <a class="btn btn-sm btn-danger "
                   th:href="@{/call-sign-links/delete-form/{id}(id=${callSignLink.id})}">
                    <span class="bi-trash"></span>
                    Delete</a>
            </td>
            <td th:text="${callSignLink.driverInfo}"></td>
            <td th:text="${callSignLink.callSign}"></td>
            <td th:text="${callSignLink.dateStart}"></td>
            <td th:text="${callSignLink.dateEnd}"></td>
            <td th:text="${callSignLink.comment}"></td>
        </tr>
    </table>
</div>