<div th:fragment="callSignLinkPage">
    <nav th:replace="fragments/navigationFragment.html :: qrental-navigation"></nav>
    <ul th:replace="fragments/driverTabFragment.html :: driverTabs('callSignLinks')"></ul>
    <h2 class="py-3">Call Sign Links</h2>

    <table class="table table-striped table-bordered">
        <tr>
            <th>Driver</th>
            <th>Call Sign</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Comment</th>
        </tr>
        <tr th:if="${#lists.isEmpty(callSignLinks)}">
            <td colspan="5">No Call Sign Links</td>
        </tr>
        <tr th:each="callSignLink : ${callSignLinks}">
            <td th:text="${callSignLink.driverInfo}"></td>
            <td th:text="${callSignLink.callSign}"></td>
            <td th:text="${qDateFormatter.format(callSignLink.dateStart)}"></td>
            <td th:text="${qDateFormatter.format(callSignLink.dateEnd)}"></td>
            <td th:text="${callSignLink.comment}"></td>
        </tr>
    </table>
</div>