<div th:fragment="assembledForm">
    <div th:replace="fragments/commonFormFragment.html :: commonForm(
            title='Close active Car Link',
            content=~{fragments/carLinkCloseFormFragment.html :: closeForm},
            request=${closeRequest}
        )">
    </div>
</div>

<form th:fragment="closeForm"
      th:action="@{/car-links/close}"
      th:object="${closeRequest}"
      method="post">
    <input id="linkId" required
           th:field="*{id}"
           type="text"
           hidden/>
    <input id="driverId" required
           th:field="*{driverId}"
           type="text"
           hidden/>
    <div class="mb-5 mt-5">
        <p class="fs-5 text-center">Please confirm that you want to close (End Date will be yesterday) selected Car
            Link:</p>
        <p class="fs-4 text-center"
           th:text="${objectInfo}">???</p>
    </div>
    <div th:replace="fragments/deleteFormButtonsFragment.html :: deleteButtons(
            submitValue='Close'
        )">
    </div>
</form>