<div th:fragment="carOnHomePage">
    <nav th:replace="fragments/navigationFragment.html :: qrental-navigation"></nav>


    <h2 class="py-3">Free Cars</h2>

    <table class="table table-striped table-bordered">
        <tr>

            <th>REG Number</th>
            <th>Branding</th>
            <th>Release Date</th>
            <th>Manufacturer</th>
            <th>Model</th>
            <th>Gear Type</th>
            <th>Fuel Type</th>
            <th>LPG Installed</th>

        </tr>
        <tr th:if="${#lists.isEmpty(cars)}">
            <td colspan="5">No cars</td>
        </tr>
        <tr th:each="car : ${cars}">
            <td th:text="${car.regNumber}"></td>
            <td>
                <i th:if="${car.brandingQrent}"> Q </i>
                <i th:if="${car.brandingBolt}" > BOLT</i>
                <i th:if="${car.brandingForus}"> ForUs </i>
                <i th:if="${car.brandingUber}"> Uber </i>
                <i th:if="${car.brandingTallink}"> Tallink </i>
            </td>
            <td th:text="${qDateFormatter.format(car.releaseDate)}"></td>
            <td th:text="${car.manufacturer}"></td>
            <td th:text="${car.model}"></td>
            <td class="text-center bg-opacity-10 border border-opacity-10 "
                th:classappend="${car.gearType=='MANUAL'} ?
                                 'text-warning bg-warning border-warning'
                                 : 'text-success bg-success border-success'"
                th:text="${car.gearType}">??
            </td>
            <td th:text="${car.fuelType} "></td>
            <td th:if="${car.lpg}" class="text-center">Yes</td>
            <td th:unless="${car.lpg}" class="text-center text-secondary">No
            </td>

        </tr>
    </table>
</div>