<ul th:fragment="carTabs(activeTab)" class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" th:classappend="${activeTab == 'cars'} ? active : ''"
       href="/cars">Cars</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" th:classappend="${activeTab == 'activeCarLinks'} ? active : ''"
       href="/car-links/active">Active Car Links</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" th:classappend="${activeTab == 'closedCarlinks'} ?  active : ''"
       href="/car-links/closed">Closed Car Links</a>
  </li>
</ul>