<ul th:fragment="carTabs(activeTab)" class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" th:classappend="${activeTab == 'cars'} ? active : ''"
       href="/cars">Cars</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" th:classappend="${activeTab == 'activeCarlinks'} ? active : ''"
       href="/car-links">Car Links</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" th:classappend="${activeTab == 'closedCarLinks'} ?  active : ''"
       href="/car-links">Closed Car Links</a>
  </li>
</ul>