<ul th:fragment="driverTabs(activeTab)" class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link" th:classappend="${activeTab == 'drivers'} ? active : ''"
           href="/drivers">Drivers</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" th:classappend="${activeTab == 'callSigns'} ? active : ''"
           href="/call-signs">Call Signs</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" th:classappend="${activeTab == 'callSignLinksActive'} ? active : ''"
           href="/call-sign-links/active">Active Call Sign Links
            <span class="badge rounded-pill bg-success" th:text="${activeLinksCount}">???</span></a>
    </li>
    <li class="nav-item">
        <a class="nav-link" th:classappend="${activeTab == 'callSignLinksClosed'} ? active : ''"
           href="/call-sign-links/closed">Closed Call Sign Links
            <span class="badge rounded-pill bg-dark" th:text="${closedLinksCount}">???</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" th:classappend="${activeTab == 'firmLinks'} ? active : ''"
           href="/firm-links">Firm Links</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" th:classappend="${activeTab == 'contracts'} ? active : ''"
           href="/contracts">Contracts</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" th:classappend="${activeTab == 'authorizations'} ? active : ''"
           href="/authorizations">BOLT Authorizations</a>
    </li>
</ul>