<div th:fragment="assembledForm">
    <div th:replace="fragments/commonFormFragment.html :: commonForm(
            title='Add a new Potential Driver',
            closeRef='/',
            content=~{fragments/driverPotentialAddFormFragment.html :: addForm}
        )">
    </div>
</div>


<div th:fragment="addForm">
    <form method="post"
          th:action="@{/drivers-potential/add}"
          th:object="${driverPotentialAddCommand}">

        <div class="row">
            <div class="col">
                <div class="mb-3">
                    <label for="firstName">First Name</label>
                    <input class="form-control" id="firstName" placeholder="Enter First Name" required
                           th:field="*{firstName}"
                           type="text"/>
                </div>
            </div>

            <div class="col">
                <div class="mb-3">
                    <label for="lastName">Last Name</label>
                    <input class="form-control" id="lastName" placeholder="Enter Last Name" required
                           th:field="*{lastName}"
                           type="text"/>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="mb-3">
                <label for="phone">Phone</label>
                <input class="form-control" id="phone" placeholder="Enter Phone" required
                       th:field="*{phone}"
                       type="text"/>
            </div>
        </div>

        <div class="form-group">
            <div class="mb-3">
                <label for="comment">Comment</label>
                <textarea class="form-control"
                          id="comment"
                          placeholder="Enter Comment"
                          th:field="*{comment}"/>
            </div>
        </div>


        <div th:replace="fragments/addUpdateFormButtonsFragment.html :: addUpdateButtons(
            submitValue='Add',
            cancelHref='/'
        )">
        </div>
    </form>
</div>


