<div th:fragment="assembledForm">
    <div th:replace="fragments/commonFormFragment.html :: commonForm(
            title='Update a Driver',
            closeRef='/drivers',
            content=~{fragments/driverUpdateFormFragment.html :: updateForm}
        )">
    </div>
</div>

<form th:fragment="updateForm"
      th:action="@{/drivers/update}"
      th:object="${updateRequest}"
      method="post">

    <input id="driverId" required
           th:field="*{id}"
           type="text"
           hidden/>
    <p class="fs-5">Activation:</p>
    <div class="mb-3">
        <input class="form-check-input" id="activeId"
               th:field="*{active}"
               type="checkbox"/>
        <label class="form-check-label text-muted" for="activeId">Activated</label>
    </div>
    <p class="fs-5">Q-info:</p>
    <div class="row">
        <div class="col">
            <div class="mb-3">
                <label class="form-label text-muted"
                       for="qFirmId">Select Q-Firm</label>
                <select id="qFirmId"
                        class="form-select"
                        th:field="*{qFirmId}">
                    <option th:each="qFirm : ${qFirms}"
                            th:value="${qFirm.id}"
                            th:text="${qFirm.firmName}"></option>
                </select>
            </div>
        </div>
        <div class="col">
            <div class="mb-3">
                <label class="form-label text-muted" for="deposit">Deposit</label>
                <input class="form-control" id="deposit" placeholder="Enter Deposit -EUR"
                       th:field="*{deposit}"
                       type="number"/>
            </div>
        </div>
    </div>

    <p class="fs-5">Drivers info:</p>
    <div class="row">
        <div class="col">
            <div class="mb-3">
                <label class="form-check-label text-muted" for="firstName">First Name</label>
                <input class="form-control" id="firstName" placeholder="Enter First Name" required
                       th:field="*{firstName}"
                       type="text"/>
            </div>
        </div>
        <div class="col">
            <div class="mb-3">
                <label class="form-check-label text-muted" for="lastName">Last Name</label>
                <input class="form-control" id="lastName" placeholder="Enter Last Name" required
                       th:field="*{lastName}"
                       type="text"/>
            </div>
        </div>
        <div class="col">
            <div class="mb-3">
                <label class="form-check-label text-muted" for="isikukood">Isikukood</label>
                <input class="form-control" id="isikukood" placeholder="Enter Isikukood" required
                       th:field="*{isikukood}"
                       type="number"/>
            </div>
        </div>
    </div>
    <div class="mb-3">
        <label class="form-check-label text-muted" for="address">Address</label>
        <input class="form-control" id="address" placeholder="Enter Address"
               required
               th:field="*{address}"
               type="text"/>
    </div>
    <div class="row">
        <div class="col">
            <div class="mb-3">
                <label class="form-check-label text-muted" for="driverLicenseNumber">License Number</label>
                <input class="form-control" id="driverLicenseNumber"
                       placeholder="Enter License Number"
                       required
                       th:field="*{driverLicenseNumber}"
                       type="text"/>
            </div>
        </div>
        <div class="col">
            <div class="mb-3">
                <label class="form-check-label text-muted" for="driverLicenseExp">License Expiration date</label>
                <input class="form-control" id="driverLicenseExp"
                       placeholder="Enter License Exp"
                       required
                       th:field="*{driverLicenseExp}"
                       type="date"/>
            </div>
        </div>
        <div class="col">
            <div class="mb-3">
                <label class="form-check-label text-muted" for="taxiLicense">Taxi License </label>
                <input class="form-control" id="taxiLicense"
                       placeholder="Enter Taxi License"
                       th:field="*{taxiLicense}"
                       type="text"/>
            </div>
        </div>
    </div>
    <p class="fs-5">Drivers contact info:</p>
    <div class="row">
        <div class="col">
            <div class="mb-3">
                <label class="form-check-label text-muted" for="phone">Phone</label>
                <input class="form-control" id="phone" placeholder="Enter Phone" required
                       th:field="*{phone}"
                       type="text"/>
            </div>
        </div>
        <div class="col">
            <div class="mb-3">
                <label class="form-check-label text-muted" for="email">E-mail</label>
                <input class="form-control" id="email" placeholder="Enter E-mail" required
                       th:field="*{email}"
                       type="email"/>
            </div>
        </div>
    </div>
    <div class="mb-3">
        <input class="form-check-input" id="needInvoicesByEmailId"
               th:field="*{needInvoicesByEmail}"
               type="checkbox"/>
        <label class="form-check-label text-muted" for="needInvoicesByEmailId">Need invoices by
            email</label>
    </div>
    <p class="fs-5">Drivers company:</p>
    <div class="row">
        <div class="col">
            <div class="mb-3">
                <label class="form-check-label text-muted" for="company">Name</label>
                <input class="form-control" id="company" placeholder="Enter Name"
                       th:field="*{company}"
                       type="text"/>
            </div>
        </div>
        <div class="col">
            <div class="mb-3">
                <label class="form-check-label text-muted" for="regNumber">Registration Number</label>
                <input class="form-control" id="regNumber" placeholder="Enter Registration Number"
                       th:field="*{regNumber}"
                       type="text"/>
            </div>
        </div>
        <div class="col">
            <div class="mb-3">
                <label class="form-check-label text-muted" for="companyAddress">VAT</label>
                <input class="form-control" id="companyVat" placeholder="Enter VAT"
                       th:field="*{companyVat}"
                       type="text"/>
            </div>
        </div>
    </div>
    <div class="mb-3">
        <label class="form-check-label text-muted" for="companyAddress">Address</label>
        <input class="form-control" id="companyAddress" placeholder="Enter Address"
               th:field="*{companyAddress}"
               type="text"/>
    </div>
    <div class="form-group">
        <div class="mb-3">
            <label class="form-label text-muted" for="commentId">Comment</label>
            <textarea class="form-control"
                      id="commentId"
                      placeholder="Enter Comment"
                      th:field="*{comment}"/>
        </div>
    </div>
    <div th:replace="fragments/addUpdateFormButtonsFragment.html :: addUpdateButtons(
            submitValue='Update',
            cancelHref='/drivers'
        )">
    </div>
</form>
