<div th:fragment="driverPage">
    <nav th:replace="fragments/navigationFragment.html :: qrental-navigation"></nav>
    <th>
        <a class="btn btn-sm btn-outline-secondary"
           href="/drivers"
           aria-controls="offcanvasExample">
            <span class="bi-layers-half"></span>
            Drivers
        </a>
    </th>
    <h1 class="py-5">Drivers</h1>

    <table  class="table table-striped table-bordered">
        <tr>
            <th>
                <a class="btn btn-sm btn-success"
                   href="/drivers/add-form"
                   role="button"
                   aria-controls="offcanvasExample">
                    <span class="bi-plus-circle"></span>
                    Add New Driver
                </a>
            </th>
            <th>Call Sign</th>
            <th>Last Name</th>
            <th>First Name</th>
            <th>Isikukood</th>
            <th>Deposit</th>
            <th>Phone</th>
            <th>Comment</th>
        </tr>
        <tr th:if="${#lists.isEmpty(drivers)}">
            <td colspan="5">No drivers</td>
        </tr>
        <tr th:each="driver : ${drivers}">
            <td>
                <a class="btn btn-sm btn-warning"
                   th:href="@{/drivers/update-form/{id}(id=${driver.id})}">
                    <span class="bi-pencil-square"></span>
                    Edit</a>
                <a class="btn btn-sm btn-danger"
                   th:href="@{/drivers/delete-form/{id}(id=${driver.id})}">
                    <span class="bi-trash"></span>
                    Delete</a>
            </td>
            <td th:text="${driver.id}"></td>
            <td th:text="${driver.lastName}"></td>
            <td th:text="${driver.firstName}"></td>
            <td th:text="${driver.isikukood}"></td>
            <td th:text="${driver.deposit}"></td>
            <td th:text="${driver.phone}"></td>
            <td th:text="${driver.comment}"></td>
        </tr>
    </table>
</div>