<div th:fragment="assembledForm">
    <div th:replace="fragments/commonFormFragment.html :: commonForm(
            title='Update a Firm',
            closeRef='/firms',
            content=~{fragments/firmUpdateFormFragment.html :: updateForm},
            request=${updateRequest}
        )">
    </div>
</div>

<div th:fragment="updateForm">
    <form method="post"
          th:action="@{/firms/update}"
          th:object="${updateRequest}">

        <input id="firmId" required
               th:field="*{id}"
               type="text"
               hidden/>

        <div class="col">
            <div class="mb-3">
                <label class="form-check-label text-muted" for="qGroupId">Q Group Firm</label>
                <input class="form-check-input" id="qGroupId"
                       th:field="*{qGroup}"
                       type="checkbox"/>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="mb-3">
                    <label class="form-label text-muted" for="firmNameId">Name</label>
                    <input class="form-control" id="firmNameId"
                           placeholder="Enter Name"
                           required
                           th:field="*{name}"
                           type="text"/>
                </div>
            </div>
            <div class="col">
                <div class="mb-3">
                    <label class="form-label text-muted" for="ibanId">IBAN</label>
                    <input class="form-control" id="ibanID" placeholder="Enter  IBAN" required
                           th:field="*{iban}"
                           type="text"/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="mb-3">
                    <label class="form-label text-muted" for="ceoLastNameId">CEO first name</label>
                    <input class="form-control" id="ceoLastNameId"
                           placeholder="Enter first name"
                           required
                           th:field="*{ceoFirstName}"
                           type="text"/>
                </div>
            </div>
            <div class="col">
                <div class="mb-3">
                    <label class="form-label text-muted" for="ceoFirstNameId">CEO last name</label>
                    <input class="form-control" id="ceoFirstNameId"
                           placeholder="Enter last name" required
                           th:field="*{ceoLastName}"
                           type="text"/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="mb-3">
                    <label class="form-label text-muted" for="ceoDeputy1FirstNameId">CEO deputy 1 first name</label>
                    <input class="form-control" id="ceoDeputy1FirstNameId"
                           placeholder="Enter first name"
                           th:field="*{ceoDeputy1FirstName}"
                           type="text"/>
                </div>
            </div>
            <div class="col">
                <div class="mb-3">
                    <label class="form-label text-muted" for="ceoDeputy1LastNameId">CEO deputy 1 last name</label>
                    <input class="form-control" id="ceoDeputy1LastNameId"
                           placeholder="Enter last name"
                           th:field="*{ceoDeputy1LastName}"
                           type="text"/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="mb-3">
                    <label class="form-label text-muted" for="ceoDeputy2FirstNameId">CEO deputy 2 first name</label>
                    <input class="form-control" id="ceoDeputy2FirstNameId"
                           placeholder="Enter first name"
                           th:field="*{ceoDeputy2FirstName}"
                           type="text"/>
                </div>
            </div>
            <div class="col">
                <div class="mb-3">
                    <label class="form-label text-muted" for="ceoDeputy2LastNameId">CEO deputy 2 last name</label>
                    <input class="form-control" id="ceoDeputy2LastNameId"
                           placeholder="Enter last name"
                           th:field="*{ceoDeputy2LastName}"
                           type="text"/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="mb-3">
                    <label class="form-label text-muted" for="ceoDeputy3FirstNameId">CEO deputy 3 first name</label>
                    <input class="form-control" id="ceoDeputy3FirstNameId"
                           placeholder="Enter first name"
                           th:field="*{ceoDeputy3FirstName}"
                           type="text"/>
                </div>
            </div>
            <div class="col">
                <div class="mb-3">
                    <label class="form-label text-muted" for="ceoDeputy3LastNameId">CEO deputy 3 last name</label>
                    <input class="form-control" id="ceoDeputy3LastNameId"
                           placeholder="Enter last name"
                           th:field="*{ceoDeputy3LastName}"
                           type="text"/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="mb-3">
                    <label class="form-label text-muted" for="regNumberId">Registration Number</label>
                    <input class="form-control" id="regNumberID" placeholder="Enter Registration Number" required
                           th:field="*{registrationNumber}"
                           type="number"/>
                </div>
            </div>
            <div class="col">
                <div class="mb-3">
                    <label class="form-label text-muted" for="vatNumberId">VAT Number</label>
                    <input class="form-control" id="vatNumberID" placeholder="Enter VAT Number"
                           th:field="*{vatNumber}"
                           type="text"/>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <div class="mb-3">
                    <label class="form-label text-muted" for="eMailId">E-Mail</label>
                    <input class="form-control" id="eMailID" placeholder="Enter E-Mail" required
                           th:field="*{email}"
                           type="email"/>
                </div>
            </div>
            <div class="col">
                <div class="mb-3">
                    <label class="form-label text-muted" for="postAddressId">Post Address</label>
                    <input class="form-control" id="postAddressID" placeholder="Enter post address"
                           th:field="*{postAddress}"
                           type="text"/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="mb-3">
                    <label for="phone">Phone</label>
                    <input class="form-control" id="phone" placeholder="Enter Phone" required
                           th:field="*{phone}"
                           type="text"/>
                </div>
            </div>
            <div class="col">
                <div class="mb-3">
                    <label class="form-label text-muted" for="bankId">Bank Name</label>
                    <input class="form-control" id="bankID" placeholder="Enter Bank Name"
                           th:field="*{bank}"
                           type="text"/>
                </div>
            </div>
        </div>

        <div class="mb-3">
            <label class="form-label text-muted" for="commentId">Comment</label>
            <textarea class="form-control"
                      id="commentId"
                      placeholder="Enter Comment"
                      th:field="*{comment}"/>
        </div>

        <div th:replace="fragments/addUpdateFormButtonsFragment.html :: addUpdateButtons(
            submitValue='Update',
            cancelHref='/firms'
        )">
        </div>
    </form>
</div>