<div th:fragment="assembledForm">
    <div th:replace="fragments/commonFormFragment.html :: commonForm(
            title='Delete a Firm',
            closeRef='/firms',
            content=~{fragments/firmDeleteFormFragment.html :: deleteForm}
        )">
    </div>
</div>

<form th:fragment="deleteForm"
      th:action="@{/firms/delete}"
      th:object="${deleteRequest}"
      method="post">
    <input id="firmId" required
           th:field="*{id}"
           type="text"
           hidden/>
    <div class="mb-3">
        <p class="fs-4 ">Please confirm that you want to delete next data:</p>
        <p class="fs-6 text-center"
           th:text=${objectInfo}>Firm info</p>
    </div>
    <div th:replace="fragments/deleteFormButtonsFragment.html :: deleteButtons(
            submitValue='Delete',
            cancelHref='/firms'
        )">
    </div>
</form>