<div th:fragment="assembledForm">
    <div th:replace="fragments/commonFormFragment.html :: commonForm(
            title='Trigger Insurance calculation',
            content=~{fragments/insuranceCalculationAddFormFragment.html :: addForm},
            request=${addRequest}
        )">
    </div>
</div>

<div th:fragment="addForm">
    <form method="post"
          th:action="@{/insurance/calculations/add}"
          th:object="${addRequest}">
        <p class="fs-4 ">Please confirm that you want to trigger:</p>

        <div class="alert alert-warning" role="alert">
            Please be aware, that:
            <ul>
                <li>Insurance Case Balance calculation impossible to execute for the weeks when Financial Balance
                    already calculated
                </li>
                <li>Insurance Case Balance calculation impossible to execute for the weeks when Rent was NOT
                    calculated
                </li>
            </ul>
        </div>

        <div class="row">
            <div class="mb-3">
                <label class="form-label text-muted" for="weekId">Select last week (included)</label>
                <select id="weekId" class="form-select"
                        th:field="*{qWeekId}">
                    <option th:each="week: ${weeks}"
                            th:value="${week.id}"
                            th:text="|Year: ${week.year}, number: ${week.number} - ${week.description}|"></option>
                </select>
            </div>
        </div>
        <div class="mb-3">
            <label class="form-label text-muted" for="actionDateId">Action Date</label>
            <input class="form-control" id="actionDateId"
                   th:field="*{actionDate}"
                   type="date"
                   readonly/>
        </div>
        <div th:replace="fragments/addUpdateFormButtonsFragment.html :: addUpdateButtons(
            submitValue='Calculate')">
        </div>
    </form>
</div>