<div th:fragment="calculationsPage">
    <nav th:replace="fragments/navigationFragment.html :: qrental-navigation"></nav>
    <ul th:replace="fragments/invoiceTabFragment :: invoiceTabs('calculations')"></ul>
    <h2 class="py-3">Invoice Calculations</h2>
    <table class="table table-striped table-bordered">
        <tr>
            <th style="width: 1% !important;">
                <a class="btn btn-sm btn-success"
                   href="/invoices/calculations/add-form"
                   role="button"
                   aria-controls="offcanvasExample">
                    <span class="bi bi-calculator"></span>
                </a>
            </th>
            <th>Start Week</th>
            <th>End Week</th>
            <th>Action Date</th>
            <th>Invoices Count</th>
            <th>Comment</th>
        </tr>
        <tr th:if="${#lists.isEmpty(calculations)}">
            <td colspan="5">No Invoices Calculations were done yet</td>
        </tr>
        <tr th:each="calculation : ${calculations}">
            <td><a class="btn btn-sm btn-warning"
                   th:href="@{/invoices/calculations/{id}(id=${calculation.id})}">
                <span class="bi bi-card-checklist"></span></a></td>
            <td th:text="${calculation.startWeek}">???</td>
            <td th:text="${calculation.endWeek}">???</td>
            <td th:text="${calculation.actionDate}">???</td>
            <td th:text="${calculation.invoicesCount}">???</td>
            <td th:text="${calculation.comment}">???</td>
        </tr>
    </table>
</div>