<div th:fragment="invoicePage">
    <nav th:replace="fragments/navigationFragment.html :: qrental-navigation"></nav>
    <h2 class="py-3">Invoices</h2>
    <table class="table table-striped table-bordered">
        <tr>
            <th>
                <a class="btn btn-sm btn-success"
                   href="/invoices/add-form"
                   role="button"
                   aria-controls="offcanvasExample">
                    <span class="bi-plus-circle"></span>
                    Create a New Invoice
                </a>
            </th>
            <th>Number</th>
            <th>Week</th>
            <th>Driver Call-sign</th>
            <th>Driver Company</th>
            <th>Q Firma</th>
            <th>Created</th>
            <th>Comment</th>
        </tr>
        <tr th:if="${#lists.isEmpty(invoices)}">
            <td colspan="5">No invoices</td>
        </tr>
        <tr th:each="invoice : ${invoices}">
            <td>
                <a class="btn btn-sm btn-warning"
                   th:href="@{/invoices/update-form/{id}(id=${invoice.id})}">
                    <span class="bi-pencil-square"></span>
                    Edit</a>
                <a class="btn btn-sm btn-danger"
                   th:href="@{/invoices/delete-form/{id}(id=${invoice.id})}">
                    <span class="bi-trash"></span>
                    Delete</a>
            </td>
            <td th:text="${invoice.number}"></td>
            <td th:text="${invoice.weekNumber}"></td>
            <td th:text="${invoice.driverCallSign}"></td>
            <td th:text="${invoice.driverCompany}"></td>
            <td th:text="${invoice.qFirmName}"></td>
            <td th:text="${invoice.created}"></td>
            <td th:text="${invoice.comment}"></td>
        </tr>
    </table>
</div>