<div th:fragment="linkPage">
    <nav th:replace="fragments/navigationFragment.html :: qrental-navigation"></nav>
    <ul th:replace="fragments/linkTabFragment :: linkTabs('links')"></ul>


    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-5 align-self-start">
                    <h2 class="py-3" th:text="|Links|">Links</h2>
                </div>
                <div class="col align-self-md-end">
                    <small th:text="|Total Active: ${#lists.size(links)} Links|"
                           class="fs-5 d-inline-flex mb-3 px-2 py-1 fw-semibold border bg-opacity-10
                               border-opacity-10 rounded-2"
                           th:classappend="'text-success bg-success border-success'">???</small>
                </div>
            </div>
        </div>
    </div>
    <table class="table table-striped table-bordered">
        <tr>
            <th>
                <a class="btn btn-sm btn-success"
                   href="/links/add-form"
                   role="button"
                   aria-controls="offcanvasExample">
                    <span class="bi-plus-circle"></span>
                    Add new Link
                </a>
            </th>
            <th>Car Number</th>
            <th>Call Sign</th>
            <th>Driver</th>
            <th>Date Start</th>
            <th>Date End</th>
            <th>Comment</th>
        </tr>
        <tr th:if="${#lists.isEmpty(links)}">
            <td colspan="5">No Links</td>
        </tr>
        <tr th:each="link : ${links}">
            <td>
                <a class="btn btn-sm btn-warning"
                   th:href="@{/links/update-form/{id}(id=${link.id})}">
                    <span class="bi-pencil-square"></span>
                    Edit</a>
                <a class="btn btn-sm btn-danger"
                   th:href="@{/links/delete-form/{id}(id=${link.id})}">
                    <span class="bi-trash"></span>
                    Delete</a>
            </td>
            <td th:text="${link.carInfo}"></td>
            <td th:text="${link.callSign}"> ... </td>
            <td th:text="${link.driverInfo}"></td>
            <td th:text="${link.dateStart}"></td>
            <td th:text="${link.dateEnd}"></td>
            <td th:text="${link.comment}"></td>
        </tr>
    </table>
</div>