<div th:fragment="assembledForm">
    <div th:replace="fragments/commonFormFragment.html :: commonForm(
            title='Add a new Transaction Type',
            content=~{fragments/transactionTypeAddFormFragment.html :: addForm},
            request=${addRequest}
        )">
    </div>
</div>

<div th:fragment="addForm">
    <script>
        function onNegativeChange() {
            const feeAbleCheckbox = document.getElementById("feeAbleId");
            const negativeCheckbox = document.getElementById("negativeId");
            if (negativeCheckbox.checked) {
                feeAbleCheckbox.disabled = false;
            } else {
                feeAbleCheckbox.checked = false;
                feeAbleCheckbox.disabled = true;
            }
        }
    </script>
    <form method="post"
          th:action="@{/transaction-types/add}"
          th:object="${addRequest}">
        <div class="mb-3">
            <label class="form-label text-muted" for="transactionTypeId">Transaction type name (Eng)</label>
            <input class="form-control" id="transactionTypeId"
                   placeholder="Enter Transaction Type name"
                   required
                   th:field="*{name}"
                   type="text"/>
        </div>
        <div class="mb-3">
            <label class="form-label text-muted" for="descriptionId">Transaction Type nimi (Est)</label>
            <input class="form-control" id="descriptionID" placeholder="Enter Tr.Type on Estonian Language"
                   th:field="*{description}"
                   type="text"/>
        </div>
        <div class="mb-3">
            <label class="form-label text-muted" for="descriptionRusID">Тип транзакции (Rus)</label>
            <input class="form-control" id="descriptionRusID" placeholder="Enter Tr.Type on Russian Language"
                   th:field="*{descriptionRus}"
                   type="text"/>
        </div>
        <div class="row">
            <div class="col mb-3">
                <input class="form-check-input" id="negativeId"
                       th:field="*{negative}"
                       onchange="onNegativeChange()"
                       type="checkbox"/>
                <label class="form-check-label text-muted" for="negativeId">Negative</label>
            </div>
            <div class="col mb-3">
                <input class="form-check-input" id="feeAbleId"
                       th:field="*{feeAble}"
                       type="checkbox"
                       disabled/>
                <label class="form-check-label text-muted" for="feeAbleId">Fee able (only for Negative)</label>
            </div>
        </div>
                <div class="mb-3">
            <label class="form-label text-muted" for="commentId">Comment</label>
            <textarea class="form-control"
                      id="commentId"
                      placeholder="Enter Comment"
                      th:field="*{comment}"/>
        </div>
        <div th:replace="fragments/addUpdateFormButtonsFragment.html :: addUpdateButtons(
            submitValue='Add',
            cancelHref='/transaction-types'
        )">
        </div>
    </form>
</div>
