<div th:fragment="assembledForm">
    <div th:replace="fragments/commonFormFragment.html :: commonForm(
            title='Add a new Transaction',

            content=~{fragments/transactionAddFormFragment.html :: addForm}
        )">
    </div>
</div>

<div th:fragment="addForm">
    <script>
        function discardNegativeSelect() {
            const negativeSelect = document.getElementById("negativeTransactionTypeId");
            negativeSelect.selectedIndex = -1;
        }
        function discardPositiveSelect() {
            const positiveSelect = document.getElementById("positiveTransactionTypeId");
            positiveSelect.selectedIndex = -1;
        }
    </script>
    <form method="post"
          th:action="@{/transactions/add}"
          th:object="${addRequest}">

        <input id="dateStampId" required
               th:field="*{dateStamp}"
               type="date"
               hidden=""/>
        <div class="mb-3">
            <label class="form-label text-muted" for="driverId">Driver</label>
            <select id="driverId" class="form-select" required
                    th:field="*{driverId}">
                <option th:value="''" th:text="Select"></option>
                <option th:each="driver : ${drivers}"
                        th:value="${driver.id}"
                        th:text="|${driver.lastName} ${driver.firstName}  - ${driver.isikukood}|">
                </option>
            </select>
        </div>
        <div class="row">
            <div class="col">
                <div class="mb-3">
                    <label class="form-label text-danger"
                           for="negativeTransactionTypeId">Negative</label>
                    <select id="negativeTransactionTypeId"
                            class="form-select bg-opacity-10 bg-danger text-danger"
                            onchange="discardPositiveSelect()"
                            th:field="*{transactionTypeId}">
                        <option th:each="transactionType : ${negativeTransactionTypes}"
                                th:value="${transactionType.id}"
                                th:text="${transactionType.name}"></option>
                    </select>
                </div>
            </div>
            <div class="col">
                <div class="mb-3">
                    <label class="form-label text-success"
                           for="positiveTransactionTypeId">Positive</label>
                    <select id="positiveTransactionTypeId"
                            class="form-select bg-opacity-10 bg-success text-success"
                            onchange="discardNegativeSelect()"
                            th:field="*{transactionTypeId}">
                        <option th:each="transactionType : ${positiveTransactionTypes}"
                                th:value="${transactionType.id}"
                                th:text="${transactionType.name}"></option>
                    </select>
                </div>
            </div>
        </div>
        <div class="mb-3">
            <label class="form-label text-muted" for="amountId">Amount</label>
            <input class="form-control" id="amountId" placeholder="Enter  amount" required
                   th:field="*{amount}"
                   type="number" step=0.01>
        </div>
        <div class="mb-3">
            <label class="form-label text-muted" for="dateId">Date</label>
            <input class="form-control" id="dateId" placeholder="Enter date" required
                   th:field="*{date}"
                   type="date"/>
        </div>
        <div class="mb-3">
            <label class="form-label text-muted" for="commentId">Comment</label>
            <textarea class="form-control"
                      id="commentId"
                      placeholder="Enter Comment"
                      th:field="*{comment}"/>
        </div>
        <div th:replace="fragments/addUpdateFormButtonsFragment.html :: addUpdateButtons(
            submitValue='Add',
            cancelHref='/transactions'
        )">
        </div>
    </form>
</div>


