<div th:fragment="assembledForm">
    <div th:replace="fragments/commonFormFragment.html :: commonForm(
            title='Update a Transaction Type',
            closeRef='/transaction-types',
            content=~{fragments/transactionTypeUpdateFormFragment.html :: updateForm},
            request=${updateRequest}
        )">
    </div>
</div>
<div th:fragment="updateForm">
    <script>
        function onNegativeChange() {
            const feeAbleCheckbox = document.getElementById("feeAbleId");
            const negativeCheckbox = document.getElementById("negativeId");
            if (negativeCheckbox.checked) {
                feeAbleCheckbox.disabled = false;
            } else {
                feeAbleCheckbox.checked = false;
                feeAbleCheckbox.disabled = true;
            }
        }
    </script>
    <form method="post"
          th:action="@{/transaction-types/update}"
          th:object="${updateRequest}">

        <input id="transactionTypeId" required
               th:field="*{id}"
               type="text"
               hidden/>
        <div class="row">
            <div class="mb-3">
                <label class="form-label text-muted" for="transactionKindId">Transaction Kind</label>
                <select id="transactionKindId" class="form-select" required
                        th:field="*{transactionKindId}">
                    <option th:value="''" th:text="Select"></option>
                    <option th:each="transactionKind : ${transactionKinds}"
                            th:value="${transactionKind.id}"
                            th:text="|${transactionKind.code} - ${transactionKind.name}|">
                    </option>
                </select>
            </div>
        </div>

        <div class="mb-3">
            <label class="form-label text-muted" for="transactionTypeId">Transaction type name</label>
            <input class="form-control" id="transactionTypeId" placeholder="Enter Transaction type "
                   required
                   th:field="*{name}"
                   type="text"/>
        </div>
        <div class="mb-3">
            <label class="form-label text-muted" for="descriptionId">Transaction Type On Estonian Language</label>
            <input class="form-control" id="descriptionId" placeholder="Enter Tr.Type On Estonian Language"
                   th:field="*{description}"
                   type="text"/>
        </div>
        <div class="mb-3">
            <label class="form-label text-muted" for="descriptionRusID">Тип транзакции (Rus)</label>
            <input class="form-control" id="descriptionRusID" placeholder="Enter Tr.Type on Russian Language"
                   th:field="*{descriptionRus}"
                   type="text"/>
        </div>
        <div class="row">
            <div class="col mb-3">
                <input class="form-check-input" id="negativeId"
                       th:field="*{negative}"
                       onchange="onNegativeChange()"
                       type="checkbox"/>
                <label class="form-check-label text-muted" for="negativeId">Negative</label>
            </div>
            <div class="col mb-3">
                <input class="form-check-input" id="feeAbleId"
                       th:field="*{feeAble}"
                       th:disabled="${!updateRequest.negative}"
                       type="checkbox"/>
                <label class="form-check-label text-muted" for="feeAbleId">Fee able (only for Negative)</label>
            </div>
        </div>

        <div class="mb-3">
            <label class="form-label text-muted" for="commentId">Comment</label>
            <textarea class="form-control"
                      id="commentId"
                      placeholder="Enter Comment"
                      th:field="*{comment}"/>
        </div>

        <div th:replace="fragments/addUpdateFormButtonsFragment.html :: addUpdateButtons(
            submitValue='Update',
            cancelHref='/transaction-types'
        )">
        </div>
    </form>
</div>
