<div th:fragment="assembledForm">
    <div th:replace="fragments/commonFormFragment.html :: commonForm(
            title='Add a new Transaction Type',
            closeRef='/transaction-types',
            content=~{fragments/transactionTypeAddFormFragment.html :: addForm}
        )">
    </div>
</div>

<div th:fragment="addForm">
    <form method="post"
          th:action="@{/transaction-types/add}"
          th:object="${addRequest}">

        <div class="row">
            <div class="col">
                <div class="mb-3">
                    <label class="form-label text-muted" for="transactionTypeId">Transaction type name</label>
                    <input class="form-control" id="transactionTypeId"
                           placeholder="Enter Transaction Type name"
                           required
                           th:field="*{name}"
                           type="text"/>
                </div>
            </div>
            <div class="col">
                <div class="mb-3">
                    <label class="form-label text-muted" for="descriptionId">Transaction Type On Estonian Language</label>
                    <input class="form-control" id="descriptionID" placeholder="Enter Tr.Type on Estonian Language"
                           th:field="*{description}"
                           type="text"/>
                </div>
            </div>
        </div>
        <div class="mb-3">
            <label class="form-check-label text-muted" for="negativeId">Negative</label>
            <input class="form-check-input" id="negativeId"
                   th:field="*{negative}"
                   type="checkbox"/>
        </div>

        <div class="mb-3">
            <label class="form-label text-muted" for="commentId">Comment</label>
            <textarea class="form-control"
                      id="commentId"
                      placeholder="Enter Comment"
                      th:field="*{comment}"/>
        </div>

        <div th:replace="fragments/addUpdateFormButtonsFragment.html :: addUpdateButtons(
            submitValue='Add',
            cancelHref='/transaction-types'
        )">
        </div>
    </form>
</div>


