<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Contract</title>
</head>
<body>

<p> Tere,</p>
<p> Kirja manuses leiate uuendatud leping.</p>
<div> Arve: <b th:text="${contractNumber}"></b></div>
<p> </p>
<div> Lugupidamisega,</div>
<div> Q Rental Group.</div>

<div> *******</div>

<p>Здравствуйте,</p>
<p>   В приложении к письму, Вы найдете обновленный договор.</p>
<div> Arve: <b th:text="${contractNumber}"></b></div>
<p> </p>
<div> С уважением,</div>
<div> Q Rental Group.</div>

</body>
</html>