<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Invoice</title>
</head>
<body>
<div> Invoice: <b th:text="${number}"></b></div>
<p>Good day.</p>
<p>Please see in the attachment an Invoice: </p>
<p><b th:text="${number}"></b></p>
<p>
    Wish you a good time, QRenal Group Financial department.
</p>
<div> In case of any questions, please contact us: +372 555 55 55</div>
<div> emal: info@qrent.ee</div>
</body>
</html>