<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/headFragment.html :: qrental-head">
</head>
<body class="container">
<nav th:replace="fragments/navigationFragment.html :: qrental-navigation"></nav>

<div class="row">
    <div class="col"></div>
    <div class="col-7">
        <div class="card">
            <div class="card-body">

        <h4>Update Link</h4>

        <form  method="post"

              th:action="@{/links/update}"
              th:object="${linkUpdateCommand}">

            <input id="linkId" required
                   th:field="*{id}"
                   type="text"
                   hidden/>

            <div class="row">
                <div class="col">
                    <div class="mb-3">
                        <label class="form-label text-muted" for="carId">Car</label>
                        <select id="carId" class="form-select"
                                th:field="*{carId}">
                            <option th:each="car: ${cars}"
                                    th:value="${car.id}"
                                    th:text="|${car.regNumber}|"></option>

                        </select>
                    </div>
                </div>

                <div class="col">
                    <div class="mb-3">
                        <label class="form-label text-muted" for="driverId">Driver</label>
                        <select id="driverId" class="form-select"
                                th:field="*{driverId}">
                            <option th:each="driver : ${drivers}"
                                    th:value="${driver.id}"
                                    th:text="|${driver.firstName} ${driver.lastName} - ${driver.isikukood}|"></option>
                        </select>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col">
                    <div class="mb-3">
                        <label for="dateStart"> Date Start</label>
                        <input class="form-control" id="dateStart" placeholder="Enter Start Date" required
                               th:field="*{dateStart}"
                               type="date"/>
                    </div>
                </div>

                <div class="col">
                    <div class="mb-3">
                        <label for="dateEnd"> Date End</label>
                        <input class="form-control" id="dateEnd" placeholder="Enter  Date End"
                               th:field="*{dateEnd}"
                               type="date"/>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="mb-3">
                    <label for="linkType">Link Type</label>
                    <input class="form-control" id="linkType" placeholder="Enter Link Type"
                           th:field="*{linkType}"
                           type="text"/>
                </div>
            </div>

            <div class="form-group">
                <label for="comment">Comment</label>
                <textarea class="form-control"
                          id="comment"
                          placeholder="Enter Comment"
                          th:field="*{comment}"/>
            </div>

            <div class="row justify-content-center">
                <div class="col-2">
                    <input class="btn btn-success"
                           type="submit"
                           value="Update">
                </div>
                <div class="col-2">
                    <a class="btn btn-secondary"
                       href="/links">
                        Cancel
                    </a>
                </div>
            </div>
        </form>

    </div>
</div>
</div>
<div class="col"></div>
</div>

</body>
</html>