<div th:fragment="authorizationPage">
    <nav th:replace="fragments/navigationFragment.html :: qrental-navigation"></nav>
    <ul th:replace="fragments/driverTabFragment :: driverTabs('authorizations')"></ul>
    <h2 class="py-3">Bolt Authorizations</h2>
    <table class="table table-sm table-striped table-bordered align-middle">
        <tr>
            <th>Actions</th>
            <th>Driver Isikukood</th>
            <th>Driver Firstname</th>
            <th>Driver Lastname</th>
            <th>Driver email</th>
            <th>Created</th>
        </tr>
        <tr th:if="${#lists.isEmpty(authorizations)}">
            <td colspan="9">No authorizations</td>
        </tr>
        <tr th:each="authorization : ${authorizations}">
            <td>
                <a class="btn btn-sm btn-info"
                   th:href="@{/authorizations/pdf/{id}(id=${authorization.id})}">
                    <span class="bi-file-earmark-pdf"></span></a>
                <a class="btn btn-sm btn-warning"
                   th:href="@{/authorizations/email/send-form/{id}(id=${authorization.id})}">
                    <span class="bi bi-envelope-at"></span></a>
            </td>
            <td th:text="${authorization.driverIsikukood}">???</td>
            <td th:text="${authorization.driverFirstName}">???</td>
            <td th:text="${authorization.driverLastName}">???</td>
            <td th:text="${authorization.driverEmail}">???</td>
            <td th:text="${qDateFormatter.format(authorization.created)}">???</td>
        </tr>
    </table>
</div>