<div th:fragment="assembledBalanceDriver" class="row mt-5">
    <div class="col"></div>
    <div class="col-11">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Driver portal</h4>
                <div class="col">
                    <a class="btn-close position-absolute top-0 end-0 m-2"
                       aria-label="Close"
                       href="/balances"></a>
                </div>
                <div class="row">
                    <div class="col">
                        <div class="row mb-2">
                            <div class="col-12">
                                <div id="driverInfoCardId" class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">Driver info</h5>
                                        <div class="row">
                                            <div class="col-1">
                                                <a class="btn btn-sm btn-warning "
                                                   th:href="@{/drivers/update-form/{id}(id=${driverId})}">
                                                    <span class="bi-pencil-square"></span>
                                                </a>
                                            </div>
                                            <div class="col-11"><p class="card-text"
                                                                   th:text="|${driverFirstName} ${driverLastName}, ${driverPhone}, deposit: ${driverDeposit} EURO|">
                                                ????</p></div>
                                            <div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-4">
                                <div id="callSignCardId" class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">Call Sign</h5>
                                        <div class="row">
                                            <div class="col-2">
                                                <a th:if="${callSignLinkId == null}" class="btn btn-sm btn-success"
                                                   data-toggle="tooltip"
                                                   data-placement="top"
                                                   title="Start a new Call Sign Link from today"
                                                   th:href="@{/call-sign-links/add-form/{id}(id=${driverId})}"
                                                   role="button"
                                                   aria-controls="offcanvasExample">
                                                    <span class="bi-plus-circle"></span>
                                                </a>
                                                <a th:if="${callSignLinkId != null}" class="btn btn-sm btn-warning "
                                                   th:href="@{/call-sign-links/update-form/{id}(id=${callSignLinkId})}">
                                                    <span class="bi-pencil-square"></span>
                                                </a>
                                            </div>
                                            <div class="col-2">
                                                <a th:if="${callSignLinkId != null}" class="btn btn-sm btn-danger"
                                                   th:href="@{/call-sign-links/close-form/{id}/driver/{driverId}(id=${callSignLinkId}, driverId=${driverId})}">
                                                    <span class="bi bi-x-circle"></span>
                                                </a>
                                            </div>
                                            <div class="col-8">
                                                <p class="card-text" th:text="${callSign}">????</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4">
                                <div id="carLinkCardId" class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">Car</h5>
                                        <div class="row">
                                            <div class="col-2">
                                                <a th:if="${carLinkId != null}" class="btn btn-sm btn-warning "
                                                   th:href="@{/car-links/update-form/{id}(id=${carLinkId})}">
                                                    <span class="bi-pencil-square"></span>
                                                </a>
                                                <a th:if="${carLinkId == null}" class="btn btn-sm btn-success"
                                                   th:href="@{/car-links/add-form/{id}(id=${driverId})}"
                                                   role="button"
                                                   aria-controls="offcanvasExample">
                                                    <span class="bi-plus-circle"></span>
                                                </a>
                                            </div>
                                            <div class="col-2">
                                                <a th:if="${carLinkId != null}" class="btn btn-sm btn-danger"
                                                   th:href="@{/car-links/close-form/{id}/driver/{driverId}(id=${carLinkId}, driverId=${driverId})}">
                                                    <span class="bi bi-x-circle"></span>
                                                </a>
                                            </div>

                                            <div class="col-8">
                                                <p class="card-text" th:text="${carRegistrationNumber}">????</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-4">
                                <div id="boltCardId" class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">Bolt</h5>
                                        <div class="row">
                                            <div class="col-2">
                                                <a class="btn btn-sm btn-success"
                                                   th:href="@{/authorizations/add-form/{driverId}(driverId=${driverId})}"
                                                   role="button"
                                                   aria-controls="offcanvasExample">
                                                        <span th:if="${authorizationId == null}"
                                                              class="bi-plus-circle"></span>
                                                    <span th:if="${authorizationId != null}"
                                                          class="bi-arrow-clockwise"></span>
                                                </a>
                                            </div>
                                            <div class="col-2">
                                                <a th:if="${authorizationId != null}" class="btn btn-sm btn-info"
                                                   th:href="@{/authorizations/pdf/{id}(id=${authorizationId})}">
                                                    <span class="bi-file-earmark-pdf"></span>
                                                </a>
                                            </div>

                                            <div class="col-8">
                                                <p class="card-text"
                                                   th:text="|From: ${qDateFormatter.format(authorizationCreateDate)}|">
                                                    ????</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-12">
                                <div id="contractInfoCardId" class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">Contract info</h5>
                                        <div class="row">
                                            <div class="col-12">
                                                <table class="table table-sm table-borderless align-middle">
                                                    <tr>
                                                        <th scope="col">Actions:</th>
                                                        <th scope="col">Number:</th>
                                                        <th scope="col">Start date:</th>
                                                        <th scope="col">End date:</th>
                                                        <th scope="col">Duration (weeks):</th>
                                                        <th scope="col">Weeks left:</th>
                                                    </tr>
                                                    <tr>
                                                        <td>
                                                            <a th:if="${activeContractId == null}"
                                                               class="btn btn-sm btn-success"
                                                               th:href="${'/contracts/add-form/'+ {driverId} + '/' + {qFirmId}}"
                                                               role="button"
                                                               aria-controls="offcanvasExample">
                                                                <span class="bi-plus-circle"></span></a>
                                                            <a th:if="${activeContractId != null}"
                                                               class="btn btn-sm btn-danger"
                                                               th:href="@{/contracts/close-form/{id}(id=${activeContractId})}">
                                                                <span class="bi bi-x-circle"></span>
                                                            </a>
                                                            <a th:if="${activeContractId != null}"
                                                               class="btn btn-sm btn-info"
                                                               th:href="@{/contracts/pdf/{id}(id=${activeContractId})}">
                                                                <span class="bi-file-earmark-pdf"></span>
                                                            </a>
                                                        <td>
                                                            <span th:text="${activeContract}">???</span>
                                                        </td>
                                                        <td>
                                                            <a>
                                                                <span th:text="${activeContractStartDate}">???</span>
                                                            </a>
                                                        </td>
                                                        <td>
                                                            <a>
                                                                <span th:text="${activeContractEndDate}">???</span>
                                                            </a>
                                                        </td>
                                                        <td>
                                                            <a>
                                                                <span th:text="${activeContractDuration}">???</span>
                                                            </a>
                                                        </td>
                                                        <td>
                                                            <a>
                                                                <span th:text="${activeContractWeeksToEnd}">???</span>
                                                            </a>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-12">
                                <div id="absenceInfoCardId" class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">Absence info</h5>
                                        <div class="row">
                                            <div class="col-1 mt-4">
                                                <a class="btn btn-sm btn-success"
                                                   th:href="${'/absences/add-form/'+ {driverId}}"
                                                   role="button"
                                                   aria-controls="offcanvasExample">
                                                    <span class="bi-plus-circle"></span></a>
                                            </div>

                                            <div class="col-11">
                                                <table class="table table-sm table-borderless align-middle">
                                                    <tr>
                                                        <th scope="col">Actions:</th>
                                                        <th scope="col">Start date:</th>
                                                        <th scope="col">End date:</th>
                                                        <th scope="col">With car:</th>
                                                        <th scope="col">Reason:</th>
                                                        <th scope="col">Comment:</th>
                                                    </tr>

                                                    <tr th:if="${#lists.isEmpty(actualAbsences)}">
                                                        <td colspan="9">No actual Absences</td>
                                                    </tr>
                                                    <tr th:each="absence : ${actualAbsences}">
                                                        <td>
                                                            <a class="btn btn-sm btn-warning "
                                                               th:href="${'/absences/update-form/'+ {absence.id}}"
                                                               role="button"
                                                               aria-controls="offcanvasExample">
                                                                <span class="bi-pencil-square"></span>
                                                            </a>
                                                            <a class="btn btn-sm btn-danger"
                                                               th:href="${'/absences/delete-form/'+ {absence.id}}"
                                                               role="button"
                                                               aria-controls="offcanvasExample">
                                                                <span class="bi bi-x-circle"></span>
                                                            </a>
                                                        </td>
                                                        <td>
                                                            <a>
                                                                <span th:text="${qDateFormatter.format(absence.dateStart)}">???</span>
                                                            </a>
                                                        </td>
                                                        <td>
                                                            <a>
                                                                <a>
                                                                    <span th:text="${qDateFormatter.format(absence.dateEnd)}">???</span>
                                                                </a>
                                                            </a>
                                                        </td>
                                                        <td>
                                                            <span th:text="${absence.withCar}">???</span>
                                                        </td>
                                                        <td>
                                                            <span th:text="${absence.reason}">???</span>
                                                        </td>
                                                        <td>
                                                            <span th:text="${absence.comment}">???</span>
                                                        </td>
                                                    </tr>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row justify-content-md-center mb-3">
                    <div class="col-md-auto">
                        <small th:text="|Latest Balance year: ${latestBalanceYear}, week: ${latestBalanceWeek}|"
                               class="fs-5 d-inline-flex mb-3 px-2 py-1 fw-semibold border bg-opacity-10
                               border-opacity-10 rounded-2 text-dark bg-secondary border-secondary">???</small>
                    </div>
                </div>
                <div class="row justify-content-md-center mb-3">
                    <div class="col-md-auto">
                        <small th:text="|Total Raw Balance: ${rawBalanceTotal} EURO|"
                               class="fs-5 d-inline-flex mb-3 px-2 py-1 fw-semibold border bg-opacity-10
                               border-opacity-10 rounded-2"
                               th:classappend="${rawBalanceTotal<0} ?
                                 'text-danger bg-danger border-danger'
                                 : 'text-success bg-success border-success'">???</small>
                    </div>
                    <div class="col-md-auto">
                        <small th:text="|Total Raw Fee Balance: ${rawFeeTotal} EURO|"
                               class="fs-5 d-inline-flex mb-3 px-2 py-1 fw-semibold border bg-opacity-10
                               border-opacity-10 rounded-2"
                               th:classappend="${rawFeeTotal<0} ?
                                 'text-danger bg-danger border-danger'
                                 : 'text-success bg-success border-success'">???</small>
                    </div>
                    <div class="col-md-auto">
                        <small th:text="|Total: ${total} EURO|"
                               class="fs-5 d-inline-flex mb-3 px-2 py-1 fw-semibold border bg-opacity-10
                               border-opacity-10 rounded-2"
                               th:classappend="${total<0} ?
                                 'text-danger bg-danger border-danger'
                                 : 'text-success bg-success border-success'">???</small>
                    </div>
                </div>
                <div class="row justify-content-md-center mb-3">
                    <div class="col-md-auto">
                        <small th:text="|Current week raw obligation: ${obligationAmount} EURO |"
                               class="fs-5 d-inline-flex mb-3 px-2 py-1 fw-semibold border bg-opacity-10
                               border-opacity-10 rounded-2 "
                               th:classappend="'text-success bg-success border-success'">???</small>
                    </div>
                    <div class="col-md-auto">
                        <small th:text="|Obligation match count: ${obligationMatchCount}|"
                               class="fs-5 d-inline-flex mb-3 px-2 py-1 fw-semibold border bg-opacity-10
                               border-opacity-10 rounded-2 "
                               th:classappend="'text-success bg-success border-success'">???</small>
                    </div>
                </div>

                <div class="row justify-content-md-center mb-3">
                    <div class="col-md-auto">
                        <small th:text="|Initial Damage total: ${insuranceBalanceTotal.damageInitialTotal} EURO|"
                               class="fs-5 d-inline-flex mb-3 px-2 py-1 fw-semibold border bg-opacity-10
                               border-opacity-10 rounded-2 "
                               th:classappend="'text-danger bg-danger border-danger'">???</small>
                    </div>
                    <div class="col-md-auto">
                        <small th:text="|Has QKasko: ${hasQKasko} |"
                               class="fs-5 d-inline-flex mb-3 px-2 py-1 fw-semibold border bg-opacity-10
                               border-opacity-10 rounded-2 "
                               th:classappend="'text-danger bg-danger border-danger'">???</small>
                    </div>
                    <div class="col-md-auto">
                        <small th:text="|Insurance damage remaining total: ${insuranceBalanceTotal.damageRemainingTotal} EURO|"
                               class="fs-5 d-inline-flex mb-3 px-2 py-1 fw-semibold border bg-opacity-10
                               border-opacity-10 rounded-2 "
                               th:classappend="'text-danger bg-danger border-danger'">???</small>
                    </div>
                    <div class="col-md-auto">
                        <small th:text="|Insurance Self responsibility remaining total: ${insuranceBalanceTotal.selfResponsibilityRemainingTotal} EURO|"
                               class="fs-5 d-inline-flex mb-3 px-2 py-1 fw-semibold border bg-opacity-10
                               border-opacity-10 rounded-2 "
                               th:classappend="'text-danger bg-danger border-danger'">???</small>
                    </div>
                </div>
                <div th:replace="fragments/balanceDriverFragment.html :: detailView"></div>
            </div>
        </div>
    </div>
    <div class="col"></div>
</div>
<div th:fragment="detailView">
    <div class="row justify-content-md-center mb-3">
        <div class="col-md-auto">
            <form th:replace="fragments/transactionDriverSearchFormFragment.html :: searchForm"></form>
        </div>
    </div>
    <div th:if="${transactionFilterRequest.qWeekId != null}">
        <div id="periodBalanceDataId" class="row justify-content-md-center mb-3">
            <div class="col-md-auto">
                <small th:text="|Period Balance data, EURO:|"
                       class="fs-6 d-inline-flex mb-3 px-2 py-1 fw-semibold  text-dark">???</small>
            </div>
            <div class="col-md-auto">
                <small th:text="|Beginning of period: ${balancePeriodStartAmount}|"
                       class="fs-6 d-inline-flex mb-3 px-2 py-1 fw-semibold border bg-opacity-10
                               border-opacity-10 rounded-2"
                       th:classappend="${balancePeriodStartAmount<0} ?
                                 'text-danger bg-danger border-danger'
                                 : 'text-success bg-success border-success'">???</small>
            </div>
            <div class="col-md-auto">
                <small th:text="|Period total: ${balancePeriodTotalAmount}|"
                       class="fs-6 d-inline-flex mb-3 px-2 py-1 fw-semibold border bg-opacity-10
                               border-opacity-10 rounded-2"
                       th:classappend="${balancePeriodTotalAmount<0} ?
                                 'text-danger bg-danger border-danger'
                                 : 'text-success bg-success border-success'">???</small>
            </div>
            <div class="col-md-auto">
                <small th:text="|End of period: ${balancePeriodEndAmount} |"
                       class="fs-6 d-inline-flex mb-3 px-2 py-1 fw-semibold border bg-opacity-10
                               border-opacity-10 rounded-2"
                       th:classappend="${balancePeriodEndAmount<0} ?
                                 'text-danger bg-danger border-danger'
                                 : 'text-success bg-success border-success'">???</small>
            </div>
        </div>
        <div id="periodFeeDataId" class="row justify-content-md-center mb-3">
            <div class="col-md-auto">
                <small th:text="|Period Fee data, EURO:|"
                       class="fs-6 d-inline-flex mb-3 px-2 py-1 fw-semibold text-dark ">???</small>
            </div>
            <div class="col-md-auto">
                <small th:text="|Beginning of period: ${feePeriodStartAmount}|"
                       class="fs-6 d-inline-flex mb-3 px-2 py-1 fw-semibold border bg-opacity-10
                               border-opacity-10 rounded-2"
                       th:classappend="${feePeriodStartAmount<0} ?
                                 'text-danger bg-danger border-danger'
                                 : 'text-success bg-success border-success'">???</small>
            </div>
            <div class="col-md-auto">
                <small th:text="|Period total: ${feePeriodTotalAmount}|"
                       class="fs-6 d-inline-flex mb-3 px-2 py-1 fw-semibold border bg-opacity-10
                               border-opacity-10 rounded-2"
                       th:classappend="${feePeriodTotalAmount<0} ?
                                 'text-danger bg-danger border-danger'
                                 : 'text-success bg-success border-success'">???</small>
            </div>
            <div class="col-md-auto">
                <small th:text="|End of period: ${feePeriodEndAmount}|"
                       class="fs-6 d-inline-flex mb-3 px-2 py-1 fw-semibold border bg-opacity-10
                               border-opacity-10 rounded-2"
                       th:classappend="${feePeriodEndAmount<0} ?
                                 'text-danger bg-danger border-danger'
                                 : 'text-success bg-success border-success'">???</small>
            </div>
        </div>
        <div id="periodFeeDataId" class="row justify-content-md-center mb-3">
            <div class="col-md-auto">
                <small th:text="|Period Obligation data, EURO:|"
                       class="fs-6 d-inline-flex mb-3 px-2 py-1 fw-semibold text-dark ">???</small>
            </div>
            <div class="col-md-auto">
                <small th:text="|Beginning of period: ${periodObligationAmount}|"
                       class="fs-6 d-inline-flex mb-3 px-2 py-1 fw-semibold border bg-opacity-10
                               border-opacity-10 rounded-2 text-success bg-success border-success">???</small>
            </div>
            <div class="col-md-auto">
                <small th:text="|Paid: ${periodObligationAmountPaid}|"
                       class="fs-6 d-inline-flex mb-3 px-2 py-1 fw-semibold border bg-opacity-10
                               border-opacity-10 rounded-2 text-success bg-success border-success">???</small>
            </div>
            <div class="col-md-auto">
                <small th:text="|Left to pay: ${periodObligationAmountLeftToPay}|"
                       class="fs-6 d-inline-flex mb-3 px-2 py-1 fw-semibold border bg-opacity-10
                               border-opacity-10 rounded-2 text-success bg-success border-success">???</small>
            </div>
            <div class="col-md-auto">
                <small th:text="|Obligation match count: ${periodObligationMatchCount}|"
                       class="fs-6 d-inline-flex mb-3 px-2 py-1 fw-semibold border bg-opacity-10
                               border-opacity-10 rounded-2 text-success bg-success border-success">???</small>
            </div>
        </div>
    </div>
    <table class="table table-bordered table-hover">
        <tr>
            <th style="width: 1% !important;">
                <a class="btn btn-sm btn-success"
                   th:href="@{/transactions/add-form/driver/{id}(id=${driverId})}"
                   role="button"
                   aria-controls="offcanvasExample">
                    <span class="bi-plus-circle"></span>
                </a>
            </th>
            <th style="width: 1% !important;">Delete</th>
            <th>Transaction Type</th>
            <th>Amount</th>
            <th>Kind</th>
            <th>Week</th>
            <th>Date</th>
            <th>In Invoice</th>
            <th>Comment</th>
        </tr>
        <tr th:if="${#lists.isEmpty(transactions)}">
            <td colspan="9">No Transactions</td>
        </tr>
        <tr th:each="transaction : ${transactions}"
            data-bs-toggle="tooltip" th:attr="title=${transaction.comment}">
            <td class="text-center"
                th:classappend="${transaction.weekNumber % 2 == 0} ? 'bg-secondary bg-opacity-10' : ''">
                <a th:if="${transaction.raw == true}" class="btn btn-sm btn-warning"
                   th:href="@{/transactions/update-form/driver/{id}(id=${transaction.id})}">
                    <span class="bi-pencil-square"></span></a>
            </td>
            <td class="text-center"
                th:classappend="${transaction.weekNumber % 2 == 0} ? 'bg-secondary bg-opacity-10' : ''">
                <a th:if="${transaction.raw == true}" class="btn btn-sm btn-danger"
                   th:href="@{/transactions/delete-form/driver/{id}(id=${transaction.id})}">
                    <span class="bi-trash"></span></a>
            </td>
            <td th:text="${transaction.type}"
                th:classappend="${transaction.weekNumber % 2 == 0} ? 'bg-secondary bg-opacity-10' : ''">???
            </td>
            <td class="text-center bg-opacity-10 border border-opacity-10 rounded-2"
                th:classappend="${transaction.realAmount<0} ?
                                 'text-danger bg-danger border-danger'
                                 : 'text-success bg-success border-success'"
                th:text="${transaction.realAmount}">???
            </td>
            <td th:text="${transaction.kind}"
                th:classappend="${transaction.weekNumber % 2 == 0} ? 'bg-secondary bg-opacity-10' : ''">???
            </td>
            <td th:text="${transaction.weekNumber}"
                th:classappend="${transaction.weekNumber % 2 == 0} ? 'bg-secondary bg-opacity-10' : ''">???
            </td>
            <td th:text="${qDateFormatter.format(transaction.date)}"
                th:classappend="${transaction.weekNumber % 2 == 0} ? 'bg-secondary bg-opacity-10' : ''">???
            </td>
            <td th:text="${transaction.invoiceIncluded}"
                th:classappend="${transaction.weekNumber % 2 == 0} ? 'bg-secondary bg-opacity-10' : ''">???
            </td>
            <td th:text="${transaction.commentShorten}"
                th:classappend="${transaction.weekNumber % 2 == 0} ? 'bg-secondary bg-opacity-10' : ''">???
            </td>
        </tr>
    </table>
</div>