<div th:fragment="assembledCalculationTransactions" class="row mt-5">
    <div class="col"></div>
    <div class="col-9">
        <div class="card">
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <a class="btn-close position-absolute top-0 end-0 m-2"
                           aria-label="Close"
                           href="/calculations">
                        </a>
                    </div>
                </div>
                <div class="row">
                    <div class="col-8 align-self-start">
                        <h2 class="py-3" th:text="|Calculation: ${calculationInfo}|">???</h2>
                    </div>
                </div>
                <div th:replace="fragments/calculationTransactionsFragment.html :: detailView"></div>
            </div>
        </div>
    </div>
    <div class="col"></div>
</div>
<div th:fragment="detailView">
    <table class="table table-striped table-bordered">
        <tr>
            <th>Transaction Type</th>
            <th>Driver</th>
            <th>Amount</th>
            <th>Week</th>
            <th>Date</th>
        </tr>
        <tr th:if="${#lists.isEmpty(transactions)}">
            <td colspan="5">No Transactions</td>
        </tr>
        <tr th:each="transaction : ${transactions}">
            <td th:text="${transaction.type}">???</td>
            <td th:text="${transaction.driverInfo}">???</td>
            <td class="text-center bg-opacity-10 border border-opacity-10 rounded-2"
                th:classappend="${transaction.realAmount<0} ?
                                 'text-danger bg-danger border-danger'
                                 : 'text-success bg-success border-success'"
                th:text="${transaction.realAmount}">???
            </td>
            <td th:text="${transaction.weekNumber}">???</td>
            <td th:text="${transaction.date}">???</td>
        </tr>
    </table>
</div>