<div th:fragment="linkPage">
    <nav th:replace="fragments/navigationFragment.html :: qrental-navigation"></nav>
    <ul th:replace="fragments/carTabFragment.html :: carTabs('carLinksActive')"></ul>

    <h2 class="py-3">Cars Links (Active)</h2>
    <table class="table table-striped table-bordered">
        <tr>
            <th style="width: 1% !important;">Close</th>
            <th style="width: 1% !important;">Portal</th>
            <th>Call Sign</th>
            <th>Driver</th>
            <th>Car Number</th>
            <th>Date Start</th>
            <th>Date End</th>
            <th>Comment</th>
        </tr>
        <tr th:if="${#lists.isEmpty(carLinksActive)}">
            <td colspan="5">No Links</td>
        </tr>
        <tr th:each="link : ${carLinksActive}">
            <td class="text-center">
                <a class="btn btn-sm btn-danger"
                   th:href="@{/car-links/close-form/{id}/driver/{driverId}(id=${link.id}, driverId=${link.driverId})}">
                    <span class="bi bi-x-circle"></span>
                </a>
            </td>
            <td class="text-center">
                <a class="btn btn-sm btn-info"
                   th:href="@{/balances/driver/{id}(id=${link.driverId})}">
                    <span class="bi bi-card-checklist"></span></a>
            </td>
            <td th:text="${link.callSign}">???</td>
            <td th:text="${link.driverInfo}">???</td>
            <td th:text="${link.carInfo}">???</td>
            <td th:text="${qDateFormatter.format(link.dateStart)}">???</td>
            <td th:text="${qDateFormatter.format(link.dateEnd)}">???</td>
            <td th:text="${link.comment}">???</td>
        </tr>
    </table>
</div>