<form th:fragment="searchForm"
      th:action="@{/cars}"
      th:object="${carFilterRequest}"
      method="post">

    <div class="row">
        <div class="col-12">
            <div class="mb-3">
                <label class="form-label text-muted" for="stateId">Select Availability</label>
                <select id="stateId" class="form-select"
                        th:field="*{state}">
                    <option th:each="stat: ${states}"
                            th:value="${stat}"
                            th:text="|${stat}|"></option>
                </select>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-6">
            <input class="btn btn-sm btn-success"
                   type="submit"
                   value="Apply Filter">
            <i class="fa fa-home"></i>
            </input>
        </div>
        <div class="col-6">
            <a class="btn btn-sm btn-danger"
               th:href="@{/cars}">
                <span class="bi bi-x-circle"></span>
                Clean</a>
        </div>
    </div>
</form>
