<div th:fragment="assembledForm">
    <div th:replace="fragments/commonFormFragment.html :: commonForm(
            title='Update Deposit Replanishment',
            closeRef='/deposits',
            content=~{fragments/depositUpdateFormFragment.html :: updateForm},
            request=${updateRequest}
        )">
    </div>
</div>

<div th:fragment="updateForm">
    <form method="post"
          th:action="@{/deposits/update}"
          th:object="${updateRequest}">

        <input id="depositId" required
               th:field="*{id}"
               type="text"
               hidden/>

        <div class="row">
            <div class="col">
                <div class="mb-3">
                    <label class="form-label text-muted" for="driverId">Driver</label>
                    <select id="driverId" class="form-select" required
                            th:field="*{driverId}">
                        <option th:value="''" th:text="Select"></option>
                        <option th:each="driver : ${drivers}"
                                th:value="${driver.id}"
                                th:text="|${driver.lastName} ${driver.firstName}  - ${driver.taxNumber}|">
                        </option>
                    </select>
                </div>
            </div>
            <div class="col">
                <div class="mb-3">
                    <label class="form-label text-muted" for="amountId">Amount</label>
                    <input class="form-control" id="amountId" placeholder="Enter  amount" required
                           th:field="*{amount}"
                           type="number" step=0.01>
                </div>
            </div>
        </div>
        <div class="mb-3">
            <label class="form-label text-muted" for="createdOnId">Created On</label>
            <input class="form-control" id="createdOnId"
                   th:field="*{createdOn}"
                   type="date"
                   readonly/>
        </div>
        <div class="mb-3">
            <label class="form-label text-muted" for="commentId">Comment</label>
            <textarea class="form-control"
                      id="commentId"
                      placeholder="Enter Comment"
                      th:field="*{comment}"/>
        </div>
        <div th:replace="fragments/addUpdateFormButtonsFragment.html :: addUpdateButtons(
            submitValue='Update'
        )">
        </div>
    </form>
</div>