<div th:fragment="assembledForm">
    <div th:replace="fragments/commonFormFragment.html :: commonForm(
            title='Add a new Driver',
            content=~{fragments/driverAddFormFragment.html :: addForm},
            request=${addRequest}
        )">
    </div>
</div>

<div th:fragment="addForm">
    <div th:replace="fragments/driverCommonFormFragment :: onChangeRequiredObligationScript"></div>

    <form method="post"
          th:action="@{/drivers/add}"
          th:object="${addRequest}">
        <p class="fs-5">Setup:</p>
        <div class="row">
            <div class="mb-3">
                <label class="form-label text-muted"
                       for="recommendedByDriverId">Recommended by:</label>
                <select id="recommendedByDriverId"
                        class="form-select"
                        th:field="*{recommendedByDriverId}">
                    <option th:value="null">No recommendation</option>
                    <option th:each="driver : ${recommendedByOptions}"
                            th:value="${driver.id}"
                            th:text="|${driver.lastName} ${driver.firstName}, isikukood: ${driver.isikukood}|">??
                    </option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="mb-3">
                    <input class="form-check-input" id="activeId"
                           th:field="*{active}"
                           type="checkbox"/>
                    <label class="form-check-label text-muted" for="activeId">Activated</label>
                </div>
            </div>
            <div class="col">
                <div class="mb-3">
                    <input class="form-check-input" id="needFeeId"
                           th:field="*{needFee}"
                           type="checkbox"/>
                    <label class="form-check-label text-muted" for="needFeeId">Need Fee</label>
                </div>
            </div>
            <div class="col">
                <div class="mb-3">
                    <label class="form-label text-muted"
                           for="callSignId">Select Call Sign</label>
                    <select id="callSignId"
                            class="form-select"
                            th:field="*{callSignId}">
                        <option th:value="null">No Call Sign</option>
                        <option th:each="callSign : ${callSigns}"
                                th:value="${callSign.id}"
                                th:text="${callSign.callSign}">??
                        </option>
                    </select>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="col">
                <div class="mb-3">
                    <input class="form-check-input" id="hasRequiredObligationId"
                           th:field="*{hasRequiredObligation}"
                           onchange="onChangeRequiredObligation()"
                           type="checkbox"/>
                    <label class="form-check-label text-muted" for="hasRequiredObligationId">Need Required
                        Obligation</label>
                </div>
            </div>
            <div class="col">
                <div class="mb-3">
                    <label class="form-label text-muted" for="requiredObligationId">Required Obligation, EUR</label>
                    <input class="form-control" id="requiredObligationId"
                           placeholder="Enter Required Obligation, EUR"
                           th:field="*{requiredObligation}"
                           disabled
                           type="number"/>
                </div>
            </div>
        </div>
        <p class="fs-5">Q-info:</p>
        <div class="row">
            <div class="col">
                <div class="mb-3">
                    <label class="form-label text-muted"
                           for="qFirmId">Select Q-Firm</label>
                    <select id="qFirmId"
                            class="form-select"
                            th:field="*{qFirmId}">
                        <option th:each="qFirm : ${qFirms}"
                                th:value="${qFirm.id}"
                                th:text="${qFirm.name}"
                        >??
                        </option>
                    </select>
                </div>
            </div>
            <div class="col">
                <div class="mb-3">
                    <label class="form-label text-muted" for="deposit">Deposit</label>
                    <input class="form-control" id="deposit" placeholder="Enter Deposit -EUR"
                           th:field="*{deposit}"
                           type="number"/>
                </div>
            </div>
        </div>
        <p class="fs-5">Drivers info:</p>
        <div class="row">
            <div class="col">
                <div class="mb-3">
                    <label class="form-check-label text-muted" for="firstName">First Name</label>
                    <input class="form-control" id="firstName" placeholder="Enter First Name" required
                           th:field="*{firstName}"
                           type="text"/>
                </div>
            </div>
            <div class="col">
                <div class="mb-3">
                    <label class="form-check-label text-muted" for="lastName">Last Name</label>
                    <input class="form-control" id="lastName" placeholder="Enter Last Name" required
                           th:field="*{lastName}"
                           type="text"/>
                </div>
            </div>
            <div class="col">
                <div class="mb-3">
                    <label class="form-check-label text-muted" for="taxNumber">Isikukood</label>
                    <input class="form-control" id="taxNumber" placeholder="Enter tax number" required
                           th:field="*{taxNumber}"
                           type="number"/>
                </div>
            </div>
        </div>
        <div class="mb-3">
            <label class="form-check-label text-muted" for="address">Address</label>
            <input class="form-control" id="address" placeholder="Enter Address"
                   required
                   th:field="*{address}"
                   type="text"/>
        </div>
        <div class="row">
            <div class="col">
                <div class="mb-3">
                    <label class="form-check-label text-muted" for="driverLicenseNumber">License Number</label>
                    <input class="form-control" id="driverLicenseNumber"
                           placeholder="Enter License Number"
                           required
                           th:field="*{driverLicenseNumber}"
                           type="text"/>
                </div>
            </div>
            <div class="col">
                <div class="mb-3">
                    <label class="form-check-label text-muted" for="driverLicenseExp">License Expiration
                        date</label>
                    <input class="form-control" id="driverLicenseExp"
                           placeholder="Enter License Exp"
                           required
                           th:field="*{driverLicenseExp}"
                           type="date"/>
                </div>
            </div>
            <div class="col">
                <div class="mb-3">
                    <label class="form-check-label text-muted" for="taxiLicense">Taxi License </label>
                    <input class="form-control" id="taxiLicense"
                           placeholder="Enter Taxi License"
                           th:field="*{taxiLicense}"
                           type="text"/>
                </div>
            </div>
        </div>
        <p class="fs-5">Drivers contact info:</p>
        <div class="row">
            <div class="col">
                <div class="mb-3">
                    <label class="form-check-label text-muted" for="phone">Phone</label>
                    <input class="form-control" id="phone" placeholder="Enter Phone" required
                           th:field="*{phone}"
                           type="text"/>
                </div>
            </div>
            <div class="col">
                <div class="mb-3">
                    <label class="form-check-label text-muted" for="email">E-mail</label>
                    <input class="form-control" id="email" placeholder="Enter E-mail" required
                           th:field="*{email}"
                           type="email"/>
                </div>
            </div>
        </div>
        <div class="mb-3">
            <input class="form-check-input" id="needInvoicesByEmailId"
                   th:field="*{needInvoicesByEmail}"
                   type="checkbox"/>
            <label class="form-check-label text-muted" for="needInvoicesByEmailId">Need invoices by
                email</label>
        </div>
        <p class="fs-5">Drivers communication type:</p>
        <div class="row">
            <div class="col">
                <div class="mb-3">
                    <input class="form-check-input" id="byTelegramId"
                           th:field="*{byTelegram}"
                           type="checkbox"/>
                    <label class="form-check-label text-muted" for="byTelegramId">Telegram</label>
                </div>
            </div>
            <div class="col">
                <div class="mb-3">
                    <input class="form-check-input" id="byWhatsAppId"
                           th:field="*{byWhatsApp}"
                           type="checkbox"/>
                    <label class="form-check-label text-muted" for="byWhatsAppId">WhatsApp</label>
                </div>
            </div>
            <div class="col">
                <div class="mb-3">
                    <input class="form-check-input" id="byViberId"
                           th:field="*{byViber}"
                           type="checkbox"/>
                    <label class="form-check-label text-muted" for="byViberId">Viber</label>
                </div>
            </div>
            <div class="col">
                <div class="mb-3">
                    <input class="form-check-input" id="byEmailId"
                           th:field="*{byEmail}"
                           type="checkbox"/>
                    <label class="form-check-label text-muted" for="byViberId">Email</label>
                </div>
            </div>
            <div class="col">
                <div class="mb-3">
                    <input class="form-check-input" id="bySmsId"
                           th:field="*{bySms}"
                           type="checkbox"/>
                    <label class="form-check-label text-muted" for="byViberId">Sms</label>
                </div>
            </div>
            <div class="col">
                <div class="mb-3">
                    <input class="form-check-input" id="byPhoneId"
                           th:field="*{byPhone}"
                           type="checkbox"/>
                    <label class="form-check-label text-muted" for="byViberId">Phone</label>
                </div>
            </div>
        </div>
        <div th:replace="fragments/driverCommonFormFragment :: legalEntityFragment"></div>
        <div class="form-group">
            <div class="mb-3">
                <label class="form-label text-muted" for="commentId">Comment</label>
                <textarea class="form-control"
                          id="commentId"
                          placeholder="Enter Comment"
                          th:field="*{comment}"/>
            </div>
        </div>

        <div th:replace="fragments/addUpdateFormButtonsFragment.html :: addUpdateButtons(
            submitValue='Add',
            cancelHref='/drivers'
        )">
        </div>
    </form>
</div>


