<div th:fragment="firmLinkPage">
    <nav th:replace="fragments/navigationFragment.html :: qrental-navigation"></nav>
    <ul th:replace="fragments/driverTabFragment.html :: driverTabs('firmLinks')"></ul>
    <h2 class="py-3">Firm Links</h2>

    <table class="table table-striped table-bordered">
        <tr>
            <th>Driver</th>
            <th>Firm</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Comment</th>
        </tr>
        <tr th:if="${#lists.isEmpty(firmLinks)}">
            <td colspan="5">No Firm Links</td>
        </tr>
        <tr th:each="firmLink : ${firmLinks}">
            <td th:text="${firmLink.driverInfo}"></td>
            <td th:text="${firmLink.firmInfo}"></td>
            <td th:text="${qDateFormatter.format(firmLink.dateStart)}"></td>
            <td th:text="${qDateFormatter.format(firmLink.dateEnd)}"></td>
            <td th:text="${firmLink.comment}"></td>
        </tr>
    </table>
</div>