<div th:fragment="assembledForm">
    <div th:replace="fragments/commonFormFragment.html :: commonForm(
            title='Create a new Invoice',
            content=~{fragments/invoiceAddFormFragment.html :: addForm},
            request=${addRequest}
        )">
    </div>
</div>

<div th:fragment="addForm">
    <form method="post"
          th:action="@{/invoices/add}"
          th:object="${addRequest}">
        <div class="mb-3">
            <label class="form-label"
                   for="driverId">Drivers</label>
            <select id="driverId"
                    class="form-select"
                    th:field="*{driverId}">
                <option th:each="driver : ${drivers}"
                        th:value="${driver.id}"
                        th:text="${driver.firstName}"></option>
            </select>
        </div>
        <div class="mb-3">
            <label class="form-label"
                   for="qFirmId">Q Firm</label>
            <select id="qFirmId"
                    class="form-select"
                    th:field="*{qFirmId}">
                <option th:each="qFirm : ${qFirms}"
                        th:value="${qFirm.id}"
                        th:text="${qFirm.firmName}"></option>
            </select>
        </div>
        <div class="row">
            <div class="col">
                <div class="mb-3">
                    <label class="form-label text-muted" for="yearId">Select Year</label>
                    <select id="yearId" class="form-select"
                            th:field="*{year}">
                        <option th:each="year: ${years}"
                                th:value="${year}"
                                th:text="|${year}|"></option>
                    </select>
                </div>
            </div>
            <div class="col">
                <div class="mb-3">
                    <label class="form-label text-muted" for="weekId">Select Week</label>
                    <select id="weekId" class="form-select"
                            th:field="*{week}">
                        <option th:each="week: ${weeks}"
                                th:value="${week}"
                                th:text="|${week.displayValue}|"></option>
                    </select>
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="mb-3">
                <label class="form-label text-muted" for="commentId">Comment</label>
                <textarea class="form-control"
                          id="commentId"
                          placeholder="Enter Comment"
                          th:field="*{comment}"/>
            </div>
        </div>

        <div th:replace="fragments/addUpdateFormButtonsFragment.html :: addUpdateButtons(
            submitValue='Add',
            cancelHref='/invoices'
        )">
        </div>
    </form>
</div>


