<ul th:fragment="settingsTab(activeTab)" class="nav nav-tabs">
  <li class="nav-item">
    <a class="nav-link" th:classappend="${activeTab == 'qWeeks'} ? active : ''"
       href="/weeks">Weeks</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" th:classappend="${activeTab == 'firms'} ? active : ''"
       href="/firms">Firms</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" th:classappend="${activeTab == 'transactionTypes'} ? active : ''"
       href="/transaction-types">Transaction Types</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" th:classappend="${activeTab == 'transactionKinds'} ? active : ''"
       href="/transaction-kinds">Transaction Kinds</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" th:classappend="${activeTab == 'constants'} ? active : ''"
       href="/constants">Constants</a>
  </li>
</ul>