<div th:fragment="weeklyReportPage">
    <nav th:replace="fragments/navigationFragment.html :: qrental-navigation"></nav>
    <ul th:replace="fragments/weeklyReportTabFragment :: weeklyReportTabs('weekly-reports')"></ul>
    <h2 class="py-3">Weekly Reports</h2>
    <table class="table table-striped table-bordered">
        <tr>
            <th>Actions</th>
            <th>Call-sign</th>
            <th>Report type</th>
            <th>Driver's name</th>
            <th>Driver's personal ID</th>
            <th>Year</th>
            <th>Week</th>
            <th>Comment</th>
        </tr>
        <tr th:if="${#lists.isEmpty(reports)}">
            <td colspan="5">No Weekly Reports</td>
        </tr>
        <tr th:each="report : ${reports}">
            <td>
                <a class="btn btn-sm btn-info"
                   th:href="@{/reports/pdf/{id}(id=${report.id})}">
                    <span class="bi-file-earmark-pdf"></span>
                    View</a>
                <a class="btn btn-sm btn-warning"
                   th:href="@{/reports/email/send-form/{id}(id=${report.id})}">
                    <span class="bi bi-envelope-at"></span>
                    Send</a>
            </td>
            <td th:text="${report.callSign}"></td>
            <td th:text="${report.type}"></td>
            <td th:text="${report.driverName}"></td>
            <td th:text="${report.driverTaxNumber}"></td>
            <td th:text="${report.weekYear}"></td>
            <td th:text="${report.weekNumber}"></td>
            <td th:text="${report.comment}"></td>
        </tr>
    </table>
</div>
